.pageLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--color-white);
  width: 405px;
  padding: 45px 30px;
  border: 1px solid var();
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--color-border);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.title {
  font-size: var(--font-xl);
}
.description {
  font-size: var(--font-lg);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  background: var(--color-mint);
  color: var(--color-white);
  font-size: var(--font-md);
  border: none;
  border-radius: 23px;
  padding: 10px;
  cursor: pointer;
}
